@tailwind base;
  @tailwind components;
  @tailwind utilities;

.register{
  background: rgba(6, 6, 6, 0.381);
  backdrop-filter: blur(10px);
}
.rhap_container{
  background-color:black !important ;
}
.rhap_time{
  color:white !important;
}
.rhap_progress-indicator{
  background-color: #22c55e !important;
  width: 15px  !important;
  height: 15px !important;
  margin-left: -10px !important;
  top: -6px !important;
}

.rhap_progress-filled{
  background-color:#22c55e !important ;
}
.rhap_main-controls-button{
  color: white !important;

}
.rhap_volume-button{
  color: white !important;
}
.rhap_volume-indicator {
  background-color: #22c55e !important;
  z-index: 10;
}
.rhap_volume-filled{
  background-color: #22c55e !important;
}
.rhap_stacked .rhap_controls-section{
  padding-right: 2rem !important;
}
.rhap_progress-bar{
  /* width: 50% !important; */
}